<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Agrega enlaces a las bibliotecas de Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Pantalla de Gráficos</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/images/logo.png" alt="Logo del Proyecto">
            <h1>Nombre del Proyecto</h1>
        </div>
    </header>
    <main class="container">
        <section class="chart">
            <h2>Cambio en la Humedad del Aire</h2>
            <div class="chart-container">
                <canvas id="chartHumedadAire"></canvas>
            </div>
        </section>
        <section class="chart">
            <h2>Cambio en la Temperatura</h2>
            <div class="chart-container">
                <canvas id="chartTemperatura"></canvas>
            </div>
        </section>
    </main>
    
    <script src="/js/chart-scripts.js"></script>
</body>
</html>
